@import "../styles/mixin.scss";

.about-us-wrapper {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    #180c4a;
  padding: 70px 20px;
  h1 {
    color: #fff;
    text-align: center;
    width: 100%;
    margin-top: 16px;
    margin-bottom: 20px;
  }
  h3 {
    color: #c9caff;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.96px;
    width: 100%;
  }
  .about-us-container {
    .banner {
      background-image: url("app/assets/about-us.png");
      background-repeat: no-repeat;
      background-size: contain;
    }
    .left-group {
      .summary {
        color: rgba(255, 255, 255, 0.8);
        font-size: 22px;
        font-style: normal;
        font-weight: 300;
        line-height: 150%;
      }
    }
  }
}

.our-values-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 80px 0;
  h1 {
    color: #000;
    text-align: center;
  }
  .h3-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h3 {
    color: #000;
    text-align: center;
    width: 920px;
    margin: 10px 0;
  }
}

.value-listing {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    li {
      width: 395px;
      &:not(:last-child) {
        margin-right: 20px;
        margin-bottom: 20px;
      }
      &:nth-child(4) {
        margin-bottom: 0;
      }
      .blue-icon-wrapper {
        margin-bottom: 8px;
      }
      .title {
        color: #000;
        margin-bottom: 10px;
      }
      .summary {
        color: rgba(1, 12, 28, 0.9);
      }
      &.value-listing-items {
        &:nth-child(1) {
          animation-delay: 0.6s;
        }
        &:nth-child(2) {
          animation-delay: 0.7s;
        }
        &:nth-child(3) {
          animation-delay: 0.8s;
        }
      }
    }
  }
}

.leadership-wrapper {
  padding: 70px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    #180c4a;
  h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 80px;
  }
  ul {
    &.leadership-grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      li {
        width: 380px;
        &:not(:last-child) {
          margin-right: 40px;
          margin-bottom: 40px;
        }
        &:nth-child(1) {
          .img {
            background: url("app/assets/leadership/samer.png");
            background-repeat: no-repeat;
            background-size: contain;
          }
        }
        &:nth-child(2) {
          .img {
            background: url("app/assets/leadership/matt.png");
            background-repeat: no-repeat;
            background-size: contain;
          }
        }
        &:nth-child(3) {
          .img {
            background: url("app/assets/leadership/nizar.png");
            background-repeat: no-repeat;
            background-size: contain;
          }
        }
        &:nth-child(4) {
          margin-bottom: 0;
          .img {
            background: url("app/assets/leadership/cody.png");
            background-repeat: no-repeat;
            background-size: contain;
          }
        }
        &:nth-child(5) {
          .img {
            background: url("app/assets/leadership/gavin.png");
            background-repeat: no-repeat;
            background-size: contain;
          }
        }
      }
    }
  }
  .img {
    min-width: 120px;
    height: 120px;
  }
}

.general {
  display: flex;
  align-items: flex-start;
  width: 100%;
  .user-info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
    .group {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      .icon-lkdn {
        color: #98a2b3;
        cursor: pointer;
        &:hover {
          color: #fd7702;
        }
      }
    }
    .sepeartor {
      background: linear-gradient(
        90deg,
        #3dd0f7 -1.32%,
        rgba(61, 208, 247, 0) 98.36%
      );
      width: 100%;
      height: 3px;
      margin: 15px 0;
    }
    .title {
      color: rgba(255, 255, 255, 0.7);
      font-size: 22px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .name {
      background: var(
        --w3f-gradient,
        linear-gradient(92deg, #12caf3 4.52%, #3e8df7 99.48%)
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.summary {
  color: #fff;
}

.join-team-wrapper {
  padding: 40px;
  margin: 80px 0;
  .button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    button {
      width: 633px;
    }
  }
  h3 {
    margin: 32px 0;
  }
}

@include respond-between(mobile, md-mobile) {
  .about-us-wrapper {
    .about-us-container {
      display: flex;
      flex-direction: column;
      .banner {
        display: none;
      }
      .left-group {
        .summary {
          text-align: center;
        }
      }
    }
  }
  .our-values-wrapper {
    margin: 40px 15px;
    h3 {
      width: 100%;
    }
    .value-listing {
      ul {
        display: flex;
        flex-direction: column;
      }
      .value-listing-items {
        .right {
          align-items: center;
          .summary {
            text-align: center;
          }
        }
      }
    }
  }

  .leadership-wrapper {
    padding: 20px;
    h1 {
      margin-bottom: 20px;
    }
    ul {
      display: flex;
      flex-direction: column;
      &.leadership-grid {
        li {
          width: 100%;
          margin-right: 0;
          &:nth-child(4) {
            margin-bottom: 20px;
          }
        }
      }
    }
  }
  .join-team-wrapper {
    margin-top: 20px;
    margin-bottom: 0;
    h3 {
      text-align: center;
    }
  }

  .value-listing {
    ul {
      li {
        width: 100%;
        margin-right: 0;
        &:nth-child(4) {
          margin-bottom: 20px;
        }
      }
    }
  }
}

@include respond-between(md-mobile, desktop) {
  .about-us-wrapper {
    .about-us-container {
      display: flex;
      flex-direction: column;
      .banner {
        display: none;
      }
    }
  }
  .our-values-wrapper {
    margin: 80px 30px;
    h3 {
      width: 100%;
    }
    .value-listing {
      ul {
        display: flex;
        flex-direction: column;
      }
      .value-listing-items {
        .right {
          align-items: center;
          .summary {
            text-align: center;
          }
        }
      }
    }
  }

  .leadership-wrapper {
    padding: 40px;
    h1 {
      margin-bottom: 40px;
    }
    ul {
      display: flex;
      flex-direction: column;
      &.leadership-grid {
        li {
          width: 100%;
          margin-right: 0;
          &:nth-child(4) {
            margin-bottom: 20px;
          }
        }
      }
    }
  }
  .join-team-wrapper {
    margin-top: 40px;
    margin-bottom: 0;
    h3 {
      text-align: center;
    }
  }

  .value-listing {
    ul {
      li {
        width: 100%;
        margin-right: 0;
        &:nth-child(4) {
          margin-bottom: 20px;
        }
      }
    }
  }
}
