@import "../styles/mixin.scss";

input {
  border-radius: 8px;
  border: 1px solid #e7eaee;
  background: rgba(255, 255, 255, 0.05);
  display: flex;
  padding: 12px 16px;
  align-items: center;
  width: 100%;
  padding: 15px;
  padding-left: 55px;
}

textarea {
  display: flex;
  height: 140px;
  padding: 16px;
  padding: 15px;
  align-items: flex-start;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #e7eaee;
  background: rgba(255, 255, 255, 0.05);
  resize: none;
}

label {
  color: var(--bg, #010c1c);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 168.5%;
  letter-spacing: 0.32px;
  margin-bottom: 8px;
  text-transform: capitalize;
}

.form-wrapper {
  button {
    width: 100%;
    margin-top: 16px;
  }
  p {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

.privacy-wrapper {
  .privacy-txt {
    text-decoration: underline;
    cursor: pointer;
    display: inline-block;
    text-decoration-color: #fc8f01;
    color: var(--bg, #010c1c);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: 16px;
    .text {
      background: var(
        --gradient-orange-accent,
        linear-gradient(92deg, #fd7702 4.52%, #fc8f01 99.48%)
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      &:hover {
        font-weight: bold;
      }
    }
  }
}

.form-group {
  position: relative;
  .icon {
    position: absolute;
    background: var(
      --w3f-gradient,
      linear-gradient(92deg, #12caf3 4.52%, #3e8df7 99.48%)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    top: 53%;
    left: 15px;
    font-size: 24px;
  }
}

@include respond-between(mobile, md-mobile)  {
  .form-wrapper {
    width: 100%;
  }
}

@include respond-between(md-mobile, desktop) {
  .form-wrapper {
    width: 100%;
  }
}
