@import "../styles/mixin.scss";

.landing-wrapper {
  margin-top: 44px;
  position: relative;
  z-index: 1;
  .main-bg {
    background: url("app/assets/cob-web.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 400px;
    position: absolute;
    left: 0;
    top: -46%;
    transform: rotate(-90deg);
  }
  .banner {
    background-image: url("app/assets/header.png");
    width: 100%;
    height: 542px;
    position: relative;
    left: 12%;
  }
  .left-group {
    h1 {
      font-size: 65px;
      font-style: normal;
      font-weight: 900;
      line-height: 80px;
      letter-spacing: -2.6px;
      margin-top: 66px;
      span {
        &.grad {
          background: linear-gradient(92deg, #3dd5f7 4.52%, #3e8df7 99.48%);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
    .summary {
      color: #010c1c;
      margin-top: 24px;
    }
    button {
      margin-top: 60px;
    }
  }
}

.bg-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
  margin-top: 40px;
  .bg-wrapper {
    background: url("app/assets/bg-logo.png");
    background-repeat: no-repeat;
    width: 442px;
    height: 442px;
    background-position: center;
    background-size: contain;
  }
  .right-bg {
    background: url("app/assets/cob-web.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    width: 500px;
    position: absolute;
    right: -5%;
    transform: rotate(180deg);
  }
}

#tsparticles {
  position: absolute;
  z-index: 0;
}

@include respond-between(mobile, desktop) {
  .landing-wrapper {
    display: flex;
    flex-direction: column;
    .banner {
      left: 0;
    }
    .left-group {
      h1 {
        font-size: 50px;
        text-align: center;
        margin-top: 0;
      }
      .summary {
        text-align: center;
        margin: 0 30px;
      }
      .button-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .banner {
      width: 100%;
      height: 354px;
      background-position: center;
    }
  }
}