@import "../styles/ContactForm.scss";
@import "../styles/mixin.scss";

.contact-page-wrapper {
  padding: 60px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    #180c4a;
  h2 {
    margin-bottom: 30px;
    color: #fff;
  }
  input {
    padding: 12px;
    padding-left: 22%;
    background-color: #fff;
  }

  textarea {
    background-color: #fff;
    &.social-txtarea {
      height: 80px;
      margin-bottom: 20px;
    }
    &.msg-txtarea {
      height: 140px;
    }
  }
  .conatct-list-wrapper {
    position: relative;
    li {
      position: relative;
      color: rgba(255, 255, 255, 0.8);
      h4 {
        margin-left: 25px;
        font-weight: 400;
      }
      &::before {
        content: "";
        position: absolute;
        width: 12px;
        height: 12px;
        top: 9px;
        background: var(
          --w3f-gradient,
          linear-gradient(92deg, #12caf3 4.52%, #3e8df7 99.48%)
        );
      }
    }
  }
  .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .right {
    padding: 28px 40px;
    border-radius: 8px;
    background: #f8fafd;

    .group {
      display: flex;
      align-items: flex-start;
      .form-group {
        display: flex;
        flex-direction: column;
        width: 100%;

        .icon {
          top: 60%;
        }

        &:not(:last-child) {
          margin-right: 40px;
        }
      }
    }

    .privacy-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 16px;
      .privacy-txt {
        margin-top: 0 !important;
        margin-left: 5px;
      }
    }
  }
}

@include respond-between(mobile, desktop) {
  .contact-page-wrapper {
    .center-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .left {
        align-items: center;
      }

      .right {
        width: 100%;
      }
    }
    h2 {
      text-align: center;
    }
  }
}
