@import "../styles/mixin.scss";

.security-wrapper {
  .banner {
    height: 100vh;
    width: 100%;
    position: relative;
    margin-bottom: 80px;
    &::before {
      content: " ";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0.9;
      background: url("app/assets/security.jpg");
      background-repeat: no-repeat;
      background-position: 50% 0;
      background-size: cover;
    }
    .left-group {
      width: 50%;
      color: #fff;
      position: relative;
      top: 25%;
      left: 10%;

      h4 {
        color: #fffc;
        font-size: 22px;
        font-style: normal;
        font-weight: 300;
        line-height: 150%;
        margin-top: 18px;
      }
    }
  }
}
.security-listing {
  li {
    display: flex;
    align-items: flex-start;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    &:not(:last-child) {
      margin-bottom: 24px;
    }
    &:nth-child(1) {
      animation-delay: 0.6s;
    }
    &:nth-child(2) {
      animation-delay: 0.7s;
    }
    &:nth-child(3) {
      animation-delay: 0.8s;
    }
    &:nth-child(4) {
      animation-delay: 0.9s;
    }
    &:nth-child(5) {
      animation-delay: 1s;
    }
    &:nth-child(6) {
      animation-delay: 1.1s;
    }
    &:nth-child(7) {
      animation-delay: 1.2s;
    }
    &:nth-child(8) {
      animation-delay: 1.3s;
    }
    &:nth-child(9) {
      animation-delay: 1.4s;
    }
  }
  .blue-icon-wrapper {
    margin-right: 32px;
    min-width: 100px;
  }
  h1 {
    margin-bottom: 10px;
  }
}

@include respond-between(mobile, md-mobile) {
  .security-wrapper {
    .banner {
      height: 50vh;
      .left-group {
        width: 100%;
        top: 10%;
        left: 0;
        padding: 20px;
      }
    }
    .security-listing {
      li {
        margin-left: 20px;
        margin-right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .info-wrapper {
          text-align: center;
        }
      }
    }
  }
}

@include respond-between(md-mobile, desktop) {
  .security-wrapper {
    .banner {
      height: 75vh;
      .left-group {
        width: 100%;
        top: 10%;
        left: 0;
        padding: 40px;
      }
    }
    .security-listing {
      li {
        margin-left: 30px;
        margin-right: 30px;
      }
    }
  }
}