@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?4myq6g');
  src:  url('fonts/icomoon.eot?4myq6g#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?4myq6g') format('truetype'),
    url('fonts/icomoon.woff?4myq6g') format('woff'),
    url('fonts/icomoon.svg?4myq6g#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-title:before {
  content: "\e900";
}
.icon-company-name:before {
  content: "\e901";
}
.icon-email:before {
  content: "\e902";
}
.icon-url:before {
  content: "\e903";
}
.icon-email-1:before {
  content: "\e904";
}
.icon-phone:before {
  content: "\e905";
}
.icon-user:before {
  content: "\e906";
}
.icon-address:before {
  content: "\e907";
}
.icon-lkdn:before {
  content: "\e908";
}
.icon-social:before {
  content: "\e909";
}
.icon-tiktok:before {
  content: "\e90a";
}
.icon-twitter:before {
  content: "\e90b";
}
.icon-arrow-right:before {
  content: "\e90c";
}
.icon-respect:before {
  content: "\e90d";
}
.icon-integrity:before {
  content: "\e90e";
}
.icon-craftsmanship:before {
  content: "\e90f";
}
.icon-innovation:before {
  content: "\e910";
}
.icon-customer-centricity:before {
  content: "\e911";
}
.icon-platofrom-security:before {
  content: "\e912";
}
.icon-patch-management:before {
  content: "\e913";
}
.icon-access:before {
  content: "\e914";
}
.icon-product-security:before {
  content: "\e915";
}
.icon-customer-data-protection:before {
  content: "\e916";
}
.icon-physical-security:before {
  content: "\e917";
}
.icon-monitor:before {
  content: "\e918";
}
.icon-personnel-security:before {
  content: "\e919";
}
.icon-protection:before {
  content: "\e91a";
  color: #07c4d0;
}
.icon-transaction:before {
  content: "\e91b";
  color: #00c2ff;
}
.icon-detail:before {
  content: "\e91c";
  color: #b970db;
}
.icon-policy:before {
  content: "\e91d";
  color: #e02880;
}
.icon-fraud:before {
  content: "\e91e";
  color: #39c936;
}
.icon-integration:before {
  content: "\e91f";
  color: #0e99ff;
}
.icon-privacy:before {
  content: "\e920";
  color: #fd8b23;
}
.icon-compliance:before {
  content: "\e921";
}
.icon-governance:before {
  content: "\e922";
}
.icon-risk:before {
  content: "\e923";
}
